<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.UserMapper">
    <select id="getAllUsers" resultType="com.project.model.User">
        select u.* from user u
        <where>
            <if test="user != null">
                <if test="user.name !=null and user.name!=''">
                    and u.name like concat('%',#{user.name},'%')
                </if>
                <if test="user.address != null">
                    and u.address like concat('%',#{user.address},'%')
                </if>
                <if test="user.phone !=null ">
                    and u.phone like concat('%',#{user.phone},'%')
                </if>
                <if test="user.email !=null ">
                    and u.email like concat('%',#{user.email},'%')
                </if>
            </if>
            <if test="beginDateScope !=null">
                and u.birthday between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
        </where>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from user u
        <where>
            <if test="user!=null">
                <if test="user.name != null and user.name!=''">
                    and u.name like concat('%',#{user.name},'%')
                </if>
                <if test="user.address != null">
                    and u.address like concat('%',#{user.address},'%')
                </if>
                <if test="user.phone !=null ">
                    and u.phone like concat('%',#{user.phone},'%')
                </if>
                <if test="user.email !=null ">
                    and u.email like concat('%',#{user.email},'%')
                </if>
            </if>
            <if test="beginDateScope != null">
                and u.birthday between #{beginDateScope[0]} and #{beginDateScope[1]}
            </if>
        </where>
    </select>

</mapper>
